.nav > ul {
	display: flex;
	flex-direction: column;
}

.nav-item {
	height: calc((58 / var(--root-font-size)) * 1rem);
	display: flex;
	gap: var(--padding-md);
	align-items: center;
	color: var(--color-nav);
	line-height: 1;
}

.nav-item.active {
	color: var(--color-primary);
}

.nav-item > i {
	width: calc((32 / var(--root-font-size)) * 1rem);
	height: calc((32 / var(--root-font-size)) * 1rem);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.nav-item svg {
	width: 100%;
}

.nav-item svg *{
	fill: var(--color-nav);
}

.nav-item.active svg *{
	fill: var(--color-primary);
}

.nav-name--desktop {
	display: inline-block;
}

.nav-name--mobile {
	display: none;
}

@media (max-width: 1024px) {
	.nav > ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav li {
		flex: 1;
	}

	.nav-item {
		flex-direction: column;
		height: calc((64 / var(--root-font-size)) * 1rem);
		gap: 0;
		justify-content: space-around;
		font-size: 0.9rem;
	}

	.nav-item > i {
		width: calc((25 / var(--root-font-size)) * 1rem);
		height: calc((25 / var(--root-font-size)) * 1rem);
	}

	.nav-name--desktop {
		display: none;
	}

	.nav-name--mobile {
		display: inline-block;
	}
}
