.no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--padding-xl);
    font-size: var(--font-size-sub-heading);
    font-weight: 300;
}

.no-data img{
    width: 100%;
    max-width: 500px;
}