.container {
	position: relative;
	height: 100%;
}

.profile {
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	max-width: 300px;
	padding: calc(var(--padding-md) / 2);
}
.profileAdd-image-wrapper {
	position: relative;
	width: 120px;
	height: auto;
	text-align: center;
}

.profileAdd-image {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.profileAdd-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.file-info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0;
}

.file-name {
	margin-right: 8px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
	height: 20px;
}

.delete-btn {
	background-color: transparent;
	color: var(--color-secondary);
	border: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: 18px;
	border-radius: 50%;
	display: none;
	margin-bottom: 12px;
}
.profile-form__textarea {
	padding: 10px;
	font-size: 16px;
	resize: vertical;
	width: 100%;
	box-sizing: border-box;
}
.btn--primary:hover {
	background-color: var(--color-secondary);
}
@media (max-width: 1024px) {
	.container {
		padding: var(--padding-md);
	}

	.profile {
		position: static;
		transform: none;
		width: 100%;
		max-width: 100%;
		padding: var(--padding-md);
	}
}
