@import '../../global.css';

.container {
	position: relative;
	height: 100%;
}

.profile {
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%; 
	max-width: 300px;
	padding: calc(var(--padding-md) / 2); 
}

.profile-image {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 0; */
	padding-bottom: var(--padding-md);
}

.profile-image img {
	width: 100px;
	height: 100px; 
	border-radius: 50%; 
	object-fit: cover; 
}


@media (max-width: 1024px) {
	.container {
		padding: var(--padding-md);
	}

	.profile {
		position: static;
		transform: none;
		width: 100%;
		max-width: 100%;
		padding: var(--padding-md);
	}

	.profile-image {
		width: 80px;
		height: 80px;
		margin-top: var(--padding-lg);
		margin-bottom: var(--padding-lg);
	}
}